@import "tailwindcss";

.theme-light {
    --primary: #F5A623;
    --secondary: #F1C40F;
    --accent: #1ABC9C;
    --base-100: #ffffff;
    --base-200: #f0f0f0;
    --base-content: #333333;
  }
  
  .theme-dark {
    --primary: #FF5722;
    --secondary: #FF9800;
    --accent: #009688;
    --base-100: #121212;
    --base-200: #1e1e1e;
    --base-content: #e0e0e0;
  }

  .bg-primary {
    background-color: var(--primary);
  }
  
  .text-primary-content {
    color: var(--primary);
  }
  
  .bg-base-100 {
    background-color: var(--base-100);
  }